.img-responsive {
    display: block;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}

.vertical-center {
  margin-top: 13%;
}

.vertical-center-2 {
  margin-top: 13%;
}

.vertical-center-3 {
  margin-top: 13%;
}

h1 h4 {
	font-family: Raleway;
}

.top-bottom {
	padding-top: 150px;
	padding-bottom: 150px;
}

.just-bottom {
	padding-bottom: 150px;
}

p {
	font-family: 'Work Sans';
}